GITHUB_OPENAI_API_KEY=your_github_openapi_key_here
BASE_URL=http://localhost:5173

# for development purpose
# NeonDB -> your branch -> overview -> connect -> connection string (postgresql://neondb_owner:...)
DATABASE_URL=your_database_url_here
CORS_ORIGINS=http://localhost:5173,http://localhost:80,http://localhost